body {
    margin: 0;
    background-color: #252525;
}

#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

#header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
    background-image: linear-gradient(#252525, rgba(0, 0, 0, 0.5), #252525);
}


#myAudio {
    position: absolute;
    left: 0;
    caret-color: #252525;
}


.episodeCode {
    color: rgb(170, 170, 170);
    margin-left: 1em;
    font-size: 0.75em;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1.5em;
}

#genre {
    font-family: monospace;
    font-size: medium;
}

.bottomDiv {
    color: rgb(170, 170, 170);
    margin: 0em 1em 0.25em 1em;
    color: rgb(170, 170, 170);
    font-size: 0.75em;
    font-family: sans-serif;
    font-weight: bold;
}

.summaryP {
    color: rgb(122, 122, 122);
    margin: 1em;
    font-family: sans-serif;
    text-align: justify;
    font-size: small;
}

.container:hover .summaryP {
    color: rgb(160, 160, 160);
}

.summaryTag {
    display: flex;
    justify-content: center;
    color: rgb(122, 73, 73);
    font-size: medium;
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    background-color: black;
}

.divImg {
    display: flex;
    justify-content: center;
}

.divImg {
    transition: transform 0.2s;
}