body {
    margin: 0;
    background-color: #252525;
}

#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

#header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
    background-image: linear-gradient(#252525, rgba(0, 0, 0, 0.5), #252525);
}


#myAudio {
    position: absolute;
    left: 0;
    caret-color: #252525;
}